@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rajdhani:wght@300&display=swap');

*{
    margin: 0;
    font-family: Kanit;
    color: rgb(184, 184, 184);
}

.navbar-1
{
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color:  rgb(199, 199, 199);
    border-radius: 5px;
    margin-top: 20px;
}


.navbar-1 > a > h1
{
    color: rgb(255, 255, 255);
}

.navbar-1 .nav-links
{
    margin-left: 180px;
}

.navbar-1 a
{
    text-decoration: none;
    padding: 20;
    margin-left: 30px;
    color: whitesmoke;
}

.navbar-1 a:hover{
    color:rgb(239, 255, 20)
}


.slogan
{
    padding: 10px;
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    margin-top: 20px;
}

.slogan > h1
{
    max-width: 800px;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(72, 211, 216);
}

.navbar-2{
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 450px;
    margin: 0 auto;
    background-color:  rgb(241, 241, 241);
    border-radius: 5px;
    margin-top: 20px;
}

.container > h1{
    font-family: Rajdhani;
    text-align: justify ;
    color: rgb(156, 156, 156);
    padding-top: 10px;
    padding-left: 10px;
    font-size: 20px;
}

input[type="text"] {
    width: 400px;
    margin-left: 10px;
    font-family: Rajdhani;
    border-color: rgb(181, 250, 250);
    border-style: none;
    border-radius: 5px;
}

.message{
    height:200px;
}

.navbar-2 .container .btn
{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 10px;
    background-color:rgb(130, 207, 238);
    border-style: none;
    color: white;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar-2 .container .btn:hover
{
    background-color: white;
    color: rgb(130, 207, 238); 
    border: 0.5px solid rgb(130, 207, 238); 
}

.buttom-text > h3
{
    max-width: 800px;
    padding-top: 120px;
    padding-bottom: 50px;
    margin: 0 auto;
    font-family: Rajdhani;
    font-size: 15px;
    text-align: justify ;
    color: rgb(168, 168, 168);
}

