@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Rajdhani:wght@300&display=swap');

*{
    margin: 0;
    font-family: Kanit;
    color: rgb(184, 184, 184);
}

.navbar-1
{
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    background-color:  rgb(199, 199, 199);
    border-radius: 5px;
    margin-top: 20px;
}


.navbar-1 > a > h1
{
    color: rgb(255, 255, 255);
}

.navbar-1 .nav-links
{
    margin-left: 180px;
}

.navbar-1 a
{
    text-decoration: none;
    padding: 20;
    margin-left: 30px;
    color: whitesmoke;
}

.navbar-1 a:hover{
    color:rgb(239, 255, 20)
}

.buttom-text > h3
{
    max-width: 800px;
    padding-top: 120px;
    margin: 0 auto;
    font-family: Rajdhani;
    font-size: 15px;
    text-align: justify ;
    color: rgb(168, 168, 168);
}

.slogan
{
    padding-left: 60px;
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    margin-top: 35px;
}

.slogan > h1
{
    max-width: 700px;
    margin: 0 auto;
    font-size: 50px;
    color: rgb(72, 211, 216);
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 500px;
    margin:0 auto;
    border-radius: 10px;
    margin-top: 40px;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
.card > img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  
.container {
    padding: 25px;
  }

.ul{
    list-style: none;
}

.container > h1{
    font-family: Rajdhani;
    text-align: justify ;
    font-size: 35px;
    color: rgb(103, 218, 212);
    font-style: bold;
}

.container > p{
    padding-top: 15px;
    text-align:justify;
}
